.App {
  font-family: sans-serif;
  background-color: white;
}

.container {
  width: 20rem;
  height: max-content;
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px 2px;
}

.box {
  width: 19.8rem;
  height: 14rem;
  background-image: url(https://www.livemint.com/lm-img/img/2025/04/03/600x338/GnbY9ErW8AAxOtE_1743646653742_1743646657705.jfif);
  background-size: cover;
  background-position: center;
}

.image {
  width: 20rem;
}
.description,
.skills {
  margin: 5px 1rem;
}

p {
  font-size: 14px;
}

h2 {
  margin-bottom: 2px;
}

span {
  display: inline-block;
  background-color: red;
  margin: 0.5rem 0.3rem 0.3rem 0.2rem;
  width: max-content;
  padding: 5px 10px;
  border-radius: 0.35rem;
  font-weight: 600;
}
